section.skills#skills
    .container
        .skills__inner
            h2.skills__title После прохождения курса ты легко сможешь:
            .skills__items
                .skills__woman
                .skills__item.skills__item_1.wow.fadeIn.slow(data-wow-offset='100')
                    .skills__img
                        img(src=require('../../img/skills-1.png'), alt="Бронировать")
                    .skills__info
                        span.skills__name Бронировать
                        |
                        | авиабилеты и отели с выгодой до 40%
                .skills__item.skills__item_2.wow.fadeIn.slow(data-wow-delay='0.3s' data-wow-offset='100')
                    .skills__img
                        img(src=require('../../img/skills-2.png'), alt="Страховать клиентов ")
                    .skills__info
                        span.skills__name Страховать клиентов 
                        |
                        | всего за 5 минут, не выходя из дома
                .skills__item.skills__item_3.wow.fadeIn.slow(data-wow-delay='0.6s' data-wow-offset='100')
                    .skills__img
                        img(src=require('../../img/skills-3.png'), alt="Работать на себя")
                    .skills__info
                        span.skills__name Работать на себя,
                        |
                        | не имея ИП
                .skills__item.skills__item_4.wow.fadeIn.slow(data-wow-delay='1s' data-wow-offset='100')
                    .skills__img
                        img(src=require('../../img/skills-4.png'), alt="Пользоваться")
                    .skills__info
                        span.skills__name Пользоваться
                        |
                        | профессиональными сервисами
                .skills__item.skills__item_5.wow.fadeIn.slow(data-wow-delay='1s' data-wow-offset='100')
                    .skills__img
                        img(src=require('../../img/skills-5.png'), alt="Упаковать соц.сети")
                    .skills__info
                        span.skills__name Упаковать соц.сети
                        |
                        | чтобы они продавали
                .skills__item.skills__item_6.wow.fadeIn.slow(data-wow-delay='0.6s' data-wow-offset='100')
                    .skills__img
                        img(src=require('../../img/skills-6.png'), alt="Составлять")
                    .skills__info
                        span.skills__name Составлять
                        |
                        | авторские туры с прибылью 20-30%
                .skills__item.skills__item_7.wow.fadeIn.slow(data-wow-delay='0.3s' data-wow-offset='100')
                    .skills__img
                        img(src=require('../../img/skills-7.png'), alt="Зарабатывать")
                    .skills__info
                        span.skills__name Зарабатывать 
                        |
                        | на подборе туров до 10% от общей суммы
            .skills__buttons
                a(href="#popup-form").btn.btn_comp.skills__btn 
                    span Записаться на бесплатный вебинар
                .skills__desc В течение 5 минут ты получишь приглашение на вебинар
            .skills__bird.wow.fadeInRight.slow(data-wow-offset='100')