section.teach
    .container      
        .teach__inner
            h2.teach__title Твоё обучение будет комфортным и эффективным
            .teach__subtitle Мы создали собственную обучающую платформу, которая поможет тебе усваивать материал поэтапно
            .teach__items
            
                .teach__item
                    .teach__img.teach__img_1
                        img(src=require('../../img/teach-1.png'), alt="Бессрочный доступ ко всем материалам с обновлением")
                    .teach__info
                        span.teach__title Бессрочный доступ
                        |
                        | ко всем материалам с обновлением

                .teach__item
                    .teach__img
                        img(src=require('../../img/teach-2.png'), alt="Пратикуетесь и зарабатываете на реальных заявках")
                    .teach__info
                        span.teach__title Пратикуетесь и зарабатываете
                        |
                        | на реальных заявках

                .teach__item
                    .teach__img
                        img(src=require('../../img/teach-3.png'), alt="Сама выбираешь, когда тебе удобно учиться и работать")
                    .teach__info
                        span.teach__title Сама выбираешь,
                        |
                        | когда тебе удобно учиться и работать

                .teach__item
                    .teach__img
                        img(src=require('../../img/teach-4.png'), alt="Выдаем сертификат об окончании курса")
                    .teach__info
                        span.teach__title Выдаем сертификат
                        |
                        | об окончании курса

                .teach__item
                    .teach__img
                        img(src=require('../../img/teach-5.png'), alt="Вернем всю сумму в течение недели, если курс тебе не подойдет")
                    .teach__info
                        span.teach__title Вернем всю сумму
                        |
                        | в течение недели, если курс тебе не подойдет

                .teach__item
                    .teach__img
                        img(src=require('../../img/teach-6.png'), alt="Сообщество единомышленников, общаемся и развиваемся")
                    .teach__info
                        span.teach__title Сообщество единомышленников,
                        |
                        | общаемся и развиваемся
            .teach__buttons
                a(href="#").btn.btn_star.teach__btn
                    span Получить бесплатный урок
                .teach__desc В течение 5 минут ты получишь доступ к перому видеоуроку
            .teach__lightning
            .teach__prize